<div class="container">
  <div class="row justify-content-start">
    <h3>会員一覧</h3>
  </div>
    <div class="col">
      <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
        <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td><% if customer.is_deleted? %>
                    <p class="text-secondary">退会</p>
                  <% else %>
                    <p class="text-success">有効</p>
                  <% end %>
              </td>
            </tr>
          </tbody>
      <% end %>
      </table>
      <%= paginate @customers %>
    </div>
</div>
