<h1>商品一覧</h1>
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
  <%= image_tag item.get_image %>
  <% end %>
  <p>商品名：<%= item.name %></p>
  <p>¥<%= item.add_tax_price.to_s(:delimited) %></p>
<% end %>